venv/
__pycache__/
*.pyc

.env

node_modules/
dist/
build/

models/*.pkl
models/*.json
!models/.gitkeep

data/synthetic/*
!data/synthetic/.gitkeep

.vscode/
.idea/
*.log
backend/credentials/firebase-service-account.json
backend/credentials/
.env
backend/credentials/
.env
backend/venv311/
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
venv311/
.env
.env.*

# Node
node_modules/
